body {
    background-color: pink;
}

#findRaces .jumbotron {
    background-color: transparent;
    background-image: url('resources/images/blackHorse.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#buyHorses .jumbotron {
    background-color: transparent;
    background-image: url('resources/images/horseEye.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#findARide .jumbotron {
    background-color: transparent;
    background-image: url('resources/images/br.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#threeBarrels .jumbotron {
    background-color: pink;
    text-align: center;
}
h1 {
    color: pink;
    font-weight: bold;
}
p {
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.lead {
    font-size: 40px;
    font-weight: bold;
}
.registerButton {
    text-align: center;
    padding-bottom: 40px;
}
.headerButton {
    padding-left: 30px;
}
.navbar {
    background-color: transparent;
    background-image: url('resources/images/barrelRacer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

footer {
    text-align: center;
    padding-bottom: 20px;
}
